/* =============
    404 Page
============= */

#opening-tag{
    text-align: center;
    margin-top: 100px;
}

#other-links{
    text-align: center;
}

#scroll-down{
    text-align: center;
}

#spacing{
    margin: 1000px 0;
}

#child{
    display: block;
    margin: auto;
    height: 50%;

}

