/* =============
    404 Page
============= */

#content {

    background-color: $background-yellow;
    padding-top: 10px;

    #opening-tag {
        text-align: center;
        margin-top: 100px;
    }

    #other-links {
        text-align: center;

        p:nth-child(2) {

            a:link,
            a:visited {
                transition: 0.25s;
                color: $bright-green;
                text-decoration: none;
            }

            a:hover,
            a:active {
                color: $light-green;
                text-decoration: none;
            }

        }
    }

    #scroll-down {
        text-align: center;
    }


    #child {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50%;

    }

    #sun {
        margin-left: auto;
        display: block;
        padding-top: 100px;

        margin-bottom: 200px;

        @include md {
            padding-right: 80px;
        }

        @include lg {
            padding-right: 200px;
        }
    }

    #lemons {
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 200px;

        #lemon1{
            height: 200px;
            width: 200px;
            // border: 1px solid red;
            padding: 40px;

            svg {
                width: 100%;
            }

            margin-bottom: 100px;
            margin-left: 200px;
        }

        #lemon2 {
            height: 250px;
            width: 250px;
            // border: 1px solid red;
            padding: 40px;

            svg {
                width: 100%;
            }

            margin-left: 600px;
        }

        
    }

    #story-text {
        .story-left {
            text-align: left;
            padding-left: 200px;

        }

        .story-right {
            text-align: right;
            padding-right: 200px;
            padding-top: 400px;
        }

        font-size: rem-calc(20);

        #part1,
        #part2,
        #part3 {
            padding-bottom: 300px;
        }

        #stand-hours {
            text-align: center;
            display: relative;
            z-index: 20;
            padding: 500px 0px 50px 0px;

        }
    }

   

    // #lemons {
    //     margin-bottom: 500px;

    //     @include md {
    //         margin-left: 80px;
    //     }

    //     @include lg {
    //         margin-left: 200px;
    //     }
    // }

}