/* =============
    404 Page
============= */

#content{

    background-color: $background-yellow;
    padding-top: 10px;

    #opening-tag{
        text-align: center;
        margin-top: 100px;
    }
    
    #other-links{
        text-align: center;
    }
    
    #scroll-down{
        text-align: center;
    }

    
    #child{
        display: block;
        margin: auto;
        height: 50%;
    
    }

    #sun{
        margin-left: auto;
        display: block;
        padding-top: 100px;
    }
    
    #lemons{
        display: inline-block;
        margin: 0 auto;
        border: solid red 1px;
        // height: 50%;
        svg{
            width: 100%;
        }
    }

    #story-text{
        .story-left{
            text-align: left;
            padding-left: 200px;
            
        }

        .story-right{
            text-align: right;
            padding-right: 200px;
            padding-top: 400px;
        }

        #part1, #part2, #part3{
            padding-bottom: 300px;
        }
        
        #stand-hours{
            text-align: center;
            display: relative;
            z-index: 20;
            margin: 500px 0px;

        }
    }
    
}



